@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Header Section Start */
header{
    width: 100%;
    height: 60px;
    color: #fff;
    display: flex;
    padding: 0px 125px;
    align-items: center;
    background: #131E3A;
    justify-content: space-between;
}
header ul li a{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
header ul li a.active{
    color: #e93461;
}
header ul li{
    margin-right: 15px;
    list-style-type: none;
    display: inline-block;
}
/* Header Section End */
/* Banner Section Start */
.banner{
    width: 100%;
    height: 550px;
    color: #fff;
    position: relative;
    padding: 0px 125px;
    background-size: 100% 100%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/banner3.png);
}
.banner h1{
    top: 100px;
    font-size: 50px;
    position: absolute;
    font-weight: normal;
}
.banner h2{
    top: 230px;
    font-size: 30px;
    position: absolute;
}
.banner form{
    width: 84%;
    bottom: 50px;
    height: 100px;
    display: flex;
    padding: 2px 8px;
    position: absolute;
    align-items: center;
    background: #5C327A;
}
.banner form button{
    width: 90px;
    height: 30px;
    border: none;
    color: #fff;
    font-weight: 400;
    background: #43215c;
}
.banner form button.active{
    background: #FC2D48;
}
.banner form label{
    display: none;
}
.banner form .searchForm.active{
    display: block;
    margin-top: 8px;
}
.banner form .searchForm{
    display: none;
}
.banner form .searchForm input,
.banner form .searchForm select {
    width: 165px;
    height: 35px;
    margin-right: 5px;
}
.banner form button.smt{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-left: 100px;
}
/* Banner Section End */
/* Fun Section Start */
.fun{
    width: 100%;
    height: 400px;
    padding: 50px 150px;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../img/banner2.jpg);
    background-size: 100% 100%;
}
.fun h2{
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}
.fun ul{
    display: flex;
    justify-content: space-between;
}
.fun ul li{
    width: 130px;
    height: 125px;
    color: #fff;
    font-size: 50px;
    list-style: none;
    padding-top: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
}
.fun h6{
    font-size: 13px;
}
.fun p{
    font-size: 13px;
    font-weight: 100;
}
/* Fun Section End */
/* Subscribe Section Start */
.subscribe{
    width: 100%;
    height: 350px;
    background-size: cover;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/airplane.jpg.jpg);
}
.subscribe .new{
    padding: 100px 140px 0px 400px;
}
.subscribe .new h1{
    color: #fff;
    text-align: center;
}
.subscribe .new p{
    color: #fff;
    text-align: center;
    padding: 20px 0px;
}
.subscribe .but{
    padding: 10px 140px 0px 400px;
}
.subscribe .but form label{
    display: none;
}
.subscribe .but form input{
    width: 600px;
    height: 45px;
    background: none;
    padding-left: 5px;
    border: 1px solid #fff;
}
.subscribe .but form button{
    width: 150px;
    height: 45px;
    border: none;
    background: #fff;
    margin-left: 20px;
}
/* Subscribe Section End */
/* Destination Section Start */
.destination{
    width: 100%;
    height: auto;
    color: #fff;
    padding: 50px 125px;
    background: #20162F;
}
.destination h2{
    text-align: center;
    margin-bottom: 40px;
}
.destination ul{
    display: grid;
    grid-gap: 30px;
    grid-template-rows: 400px 400px;
    grid-template-columns: repeat(4, 23%);
}
.destination ul li{
    list-style: none;
    border-radius: 5px;
    text-align: center;
    background: #fff;
    border: 5px solid #fff;
}
.destination ul li .content{
    color: #000;
    padding: 20px;
}
div.content span{
    color: #DD6D58;
}
div.content p{
    margin-top: 20px;
}
.destination ul li img{
    width: 100%;
}
/* Destination Section End */
/* Estimate Section Start */
.estimate{
    width: 100%;
    height: auto;
    position: relative;
    padding: 50px 125px;
    background-color: #664CAD;
}
.estimate h1,h3{
    color: #fff;
}
.estimate hr{
    width: 5%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.estimate label{
    display: none;
}
.estimate img{
    right: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
    position: absolute;

}
.estimate select,
.estimate input{
    width: 180px;
    height: 40px;
    margin-right: 20px;
    padding: 10px 5px;
}
.estimate form input.active{
    border: none;
    background: #df7218;
}
/* Estimate Section End */
/* Blog Section Start */
.blog{
    width: 100%;
    height: auto;
    padding: 50px 125px;
}
.blog h2{
    color: #000;
    text-align: center;
    margin-bottom: 10px;
}
.blog h2+p{
    text-align: center;
    padding: 0px 200px;
}
.blog-content{
    margin: 10px auto;
    display: flex;
}
.blog-content h3{
    color: #000;
    font-weight: normal;
}
.blog-content div{
    display: flex;
    padding: 0px 20px;
}
.blog-content div p{
    font-size: 15px;
}
.blog-content div div hr{
    margin-bottom: 20px;
}
.blog-content div img{
    width: 140px;
    height: 140px;
}
.blog-content div div{
    display: inline-block;
}
/* Blog Section End */

/* Footer Section Start */
footer{
    width: 100%;
    height: auto;
    padding: 50px 125px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.9)),
     url(../img/greek.jpg);
}
footer .topfoot, footer .bottomfooter{
    display: flex;
    justify-content: space-between;
}
footer h3{
    font-size: 22px;
    font-weight: 500;
    color: #918E97;
    margin-bottom: 10px;
}
footer ul li{
    list-style: none;
}
footer ul li a{
    color: #918E97;
    text-decoration: none;
}
footer ul li a span{
    color: #fff;
    font-weight: 400;
}
footer .international img{
    width: 25px;
    height: 11px;
}
footer .international div{
    display: flex;
    justify-content: space-between;
}
footer .international div .inter1{
    margin-right: 50px;
}
footer .bottomfooter .footmenu ul li{
    margin-right: 10px;
    display: inline-block;
}
footer .bottomfooter{
    margin-top: 30px;
}
footer .bottomfooter .footmenu a{
    color: #fff;
}
footer .bottomfooter .footmenu p{
    font-size: 12px;
    color: #c7abab;
}
footer .bottomfooter .social ul li{
    display: inline-block;
}
footer .bottomfooter .social ul li a{
    width: 15px;
    height: 15px;
    padding: 0px 2px;
    color: #3b3535;
    border-radius: 50%;
    background: #ffffffaf;
}
/* Footer Section End */

/* Media Query Section Start */
@media screen and (max-width:1199px) {
    header,.fun,
    .subscribe,.destination,
    .estimate,.blog
    {
        padding-left: 50px;
        padding-right: 50px;
    }
    .banner{
        padding-left: 96px;
        padding-right: 30px;
    }
    .banner form .switchButton{
        padding-top: 13px;
    }
    .banner form .searchForm input, select{
        width: 143px;
        height: 34px;
        margin-bottom: 13px;
    }
    .banner form{
        width: 81%;
        height: 133px;
    }
    .subscribe .but form input{
        width: 59%;
    }
    .subscribe{
        height: auto;
    }
    .subscribe .but form button {
        width: 120px;
    }
    .subscribe .new{
        padding-left: 50px;
    }
    .subscribe .but{
        padding-left: 180px;
        padding-bottom: 100px;
    }
    footer{
        padding: 20px 17px;
    }
}
@media screen and (max-width:991px) {
    .banner form {
        width: 80%;
        height: 178px;
    }
    .fun ul li {
        width: 98px;
        height: 98px;
        font-size: 20px;
    }
    .fun{
        height: 295px;
    }
    .subscribe .but {
        padding-left: 130px;
    }
    .subscribe {
        height: 350px;
    }
    .subscribe .new {
        padding: 10px 10px 10px 10px;
    }
    .destination ul{
        grid-template-columns: repeat(2, 50%);
    }
    .destination{
        padding-right: 80px;
    }
    .estimate img {
        width: 230px;
        height: 298px;
    }
    .estimate select, .estimate input {
        width: 129px;
        height: 40px;
        margin-right: 2px;
    }
    .blog-content{
        display: inline;
    }
    footer .topfoot .left,
    footer .topfoot .right
    {
        display: block;
    }
}
@media screen and (max-width:767px) {
    .banner{
        height: 740px;
    }
    header .nav{
        display: none;
    }
    .banner form{
        left: 30%;
        top: 323px;
        width: auto;
        height: 337px;
        flex-direction: column;
    }
    .banner form .searchForm input,
    .banner form .searchForm select{
        display: block;
        width: 100%;
    }
    .banner form .searchForm span{
        display: none;
    }
    .banner form button.smt {
            height: 35px;
            width: 100%;
            border-radius: 0;
            margin: 0px 234px 0px 1px;
    }
    .estimate input {
        width: 160px;
        margin-right: 4px;
    }
    .fun{
        height: 390px;
    }
    .fun ul{
        display: grid;
        grid-gap: 10px;
        margin-left: 5%;
        grid-template-rows: 130px 130px;
        grid-template-columns: repeat(3,33%);
    }
    .fun ul li {
        width: 136px;
        height: 100px;
        font-size: 37px;
    }
    .subscribe{
        height: 239px;
    }
}
@media screen and (max-width:575px){
    .banner form{
        left: 25%;
    }
    .fun {
        height: 488px;
    }
    .fun ul {
        grid-gap: -2px;
        margin-left: 4%;
        grid-template-rows: 110px 110px;
        grid-template-columns: repeat(2,50%);
    }
    .estimate img{
        display:none;
    }
}
/* Media Query Section End */